.old-price, .old.price {
  color: #666666;
  text-decoration: line-through;
  font-size: 12px;

  .catalog-price-netto {
    .price {
      color: #666666;
      text-decoration: line-through;
      font-size: 2rem !important;
      font-weight: 300 !important;
    }
  }
}

.hide-until-set {
  display: none;
}
.product-info-main .product-info-price .price-box .price-container > span {
  margin-bottom: 0px !important;
}